/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.failure{
    background: linear-gradient(to right, #ff0000, #b22222);
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

.main-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: left;
}

.button-link,
.submit-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #000;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

.button-link:hover,
.submit-button:hover {
    background-color: #0056b3;
}

.statistics {
    margin-top: 20px;
    background-color: #e0f7fa;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    color: #000;
}

.statistics h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: left;
}

.statistics p {
    margin: 5px 0;
}
